OSU_CLIENT_ID=
OSU_CLIENT_SECRET=
MYSQL_USER=
MYSQL_PASSWORD=
MYSQL_ROOT_PASSWORD=
MYSQL_DATABASE=
MYSQL_IP=127.0.0.1
MYSQL_PORT=3308
JWT_SECRET=
BOT_API_KEY=
UVICORN_PORT=8100
UVICORN_HOST=127.0.0.1
DISCORD_KTH_TOKEN=
SERVER_PORT=8000
SERVER_PROTOCOL=http
SERVER_HOST=127.0.0.1