OSU_CLIENT_ID=your_id
OSU_CLIENT_SECRET=your_secret
MYSQL_USER=root
MYSQL_PASSWORD=example
MYSQL_ROOT_PASSWORD=example
MYSQL_DATABASE=example
MYSQL_PORT=3306
MYSQL_IP=host.docker.internal  # Для CI с MySQL в Docker
JWT_SECRET=example
BOT_API_KEY=example